/* Make dropdown full width - i.e. song field on locations dialog */
.p-autocomplete.w-full input {
    min-width: 100%; 
}

.parse-incomplete  {
    color: red;
    font-weight: bold;
}

.parse-done  {
    color: green;
    font-weight: bold;
}
