<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/primeicons.css" rel="stylesheet">
  <link href="css/primevue.min.css" rel="stylesheet">
  <link href="css/primeflex.min.css" rel="stylesheet">
  <link href="css/theme.css" rel="stylesheet">
  <script src="js/vue.js"></script>
  <script src="js/vue-resource.js"></script>
</head>
<body style="padding:1em;">

  <div id="app" >
    <div>
      <p-panel header="Reflections (MySQL)" >

        <div style="margin-bottom:1em;">
          <p-button @click="getData"       icon="pi pi-caret-right" type="button" class="p-button-sm" label="Load Data"      ></p-button>
          <p-button @click="genTable(ref)" icon="pi pi-caret-right" type="button" class="p-button-sm" label="Generate Table" ></p-button>
          <p-selectbutton id="selbut" v-model="obj" :options="objs" style="display: inline-flex;margin-left: .5em;"></p-selectbutton>
        </div>

        <div class="row">
            
          <!-- ------------------------------------------------------------------------------------  -->
          <!-- Episode Table                                                                         -->
          <!-- ------------------------------------------------------------------------------------  -->
          <div class="col-md-6">
            <episodes-table name="Hello from component" :episodes="episodes" :loading="loading"
                @selrow="(e) => {selectedepi=e;epdlg=true;}" @newepi="newEpisode" @export="exportCSV"></episodes-table>
          </div>
          
          <!-- ------------------------------------------------------------------------------------  -->
          <!-- Location Table                                                                        -->
          <!-- ------------------------------------------------------------------------------------  -->
          <div class="col-md-6">
            <p-datatable :value="locations" :loading="loading" :filters.sync="locfilters" removable-sort :auto-layout="true" :rows="8"
                      ref="dt" :selection.sync="selectedlocn" @row-select="locdlg=true" selection-mode="single"
                      data-key="id" :paginator="true"
                      paginator-template="CurrentPageReport FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink RowsPerPageDropdown"
                      :rows-per-page-options="[8,20,50]"
                      current-page-report-template="Showing {first} to {last} of {totalRecords}">

              <template #header>
              <div >
                  <span class="p-input-icon-left">
                      <i class="pi pi-search"></i>
                      <p-inputtext v-model="locfilters['global']" placeholder="Keyword Search" />
                  </span>
                  <p-button icon="pi pi-external-link"     label="Export"       @click="exportCSV($event)" ></p-button>
                  <p-button icon="pi pi-plus"              label="New Location" @click="newLocation($event)" ></p-button>
                  <label style="margin-left: 1em;font-size: 1.5em;">Locations</label>
              </div>
              </template>

              <p-column sortable field="id"            header="ID"           ></p-column>
              <p-column sortable field="locationNum"   header="Num"          ></p-column>
              <p-column sortable field="locationTag"   header="Tag"          ></p-column>
              <p-column sortable field="startTime"     header="Start Time"   ></p-column>
              <p-column sortable field="locationDesc"  header="Description"  ></p-column>
              <p-column sortable field="song"          header="Song"         ></p-column>

            </p-datatable>
          </div>

          <!-- ------------------------------------------------------------------------------------  -->
          <!-- Scripture Table                                                                       -->
          <!-- ------------------------------------------------------------------------------------  -->
          <div class="col-md-12">
            <p-datatable :value="scriptures" :loading="loading" :filters.sync="scrfilters" removable-sort :auto-layout="true" :rows="8"
                      ref="dt" :selection.sync="selectedscript" @row-select="scrdlg=true" selection-mode="single"
                      data-key="id" :paginator="true"
                      paginator-template="CurrentPageReport FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink RowsPerPageDropdown"
                      :rows-per-page-options="[8,20,50]"
                      current-page-report-template="Showing {first} to {last} of {totalRecords}">

              <template #header>
              <div >
                  <span class="p-input-icon-left">
                      <i class="pi pi-search"></i>
                      <p-inputtext v-model="scrfilters['global']" placeholder="Keyword Search" />
                  </span>
                  <p-button icon="pi pi-external-link"     label="Export"        @click="exportCSV($event)" ></p-button>
                  <p-button icon="pi pi-plus"              label="New Scripture" @click="newScripture($event)" ></p-button>
                  <label style="margin-left: 1em;font-size: 1.5em;">Scriptures</label>
              </div>
              </template>

              <p-column sortable field="id"             header="ID"         ></p-column>
              <p-column sortable field="scriptureNum"   header="#"          ></p-column>
              <p-column sortable field="scriptureTag"   header="Tag"        ></p-column>
              <p-column sortable field="scriptureDesc"  header="Description"></p-column>
              <p-column sortable field="text"           header="Text"       ></p-column>
              <p-column sortable field="locationDesc"   header="Location"   ></p-column>

            </p-datatable>
          </div>



        </div>

        <!-- ------------------------------------------------------------------------------------  -->
        <!-- Mongo table - disabled for now                                                        -->
        <!-- ------------------------------------------------------------------------------------  -->
        <p-datatable :value="refTable || ref" :loading="loading" :filters.sync="filters" removable-sort :auto-layout="true" v-if="false"
                    ref="dt" :selection.sync="selectedRow" @row-select="rowSelected" selection-mode="single"
                    data-key="rowId" >

          <template #header>
            <div >
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <p-inputtext v-model="filters['global']" placeholder="Keyword Search" />
                </span>
                <p-button icon="pi pi-external-link"     label="Export"    @click="exportCSV($event)" ></p-button>
                <p-button icon="pi pi-arrow-circle-down" label="Save JSON" @click="newEpisode($event)"  ></p-button>
            </div>
          </template>

          <p-column sortable field="episodeId"     header="Episode"></p-column>
          <p-column sortable field="location"      header="Location"></p-column>
          <p-column sortable field="startTime"     header="Start"></p-column>
          <p-column sortable field="scriptureId"   header="Scripture ID"></p-column>
          <p-column sortable field="scriptureNum"  header="Scripture #"></p-column>
          <p-column sortable field="scriptureInfo" header="Verse"></p-column>
          <p-column sortable field="scriptureText" header="Text"></p-column>

        </p-datatable>
  
      </p-panel>
    </div>

    <!-- ------------------------------------------------------------------------------------  -->
    <!-- Episode  Dialog                                                                       -->
    <!-- ------------------------------------------------------------------------------------  -->
    <p-dialog id="epdlg" header="Episode" :visible.sync="epdlg" v-if="selectedepi">
      <p-card >
        <template #content>
          <div class="field">
            <label for="season">Season</label>
            <!-- <p-inputtext id="season" v-model="selectedepi.season" placeholder="Season" class="w-full"/> -->
            <p-inputnumber id="episode" v-model="selectedepi.seasonNum" placeholder="Season" class="w-full"/>
          </div>
          <div class="field">
            <label for="episode">Episode Sequence</label>
            <!-- <p-inputtext id="episode" v-model="selectedEp.episode" placeholder="Season" class="w-full"/> -->
            <p-inputnumber id="episode" v-model="selectedepi.episodeNum" placeholder="Episode Seq" class="w-full"/>
          </div>
          <div class="field">
            <label for="episode">Episode Number</label>
            <!-- <p-inputtext id="episode" v-model="selectedEp.episode" placeholder="Season" class="w-full"/> -->
            <p-inputnumber id="episode" v-model="selectedepi.episodeNumAlt" placeholder="Episode #" class="w-full"/>
          </div>
          <div class="field">
            <label for="episode">Notes</label>
            <p-inputtext id="episode" v-model="selectedepi.notes" placeholder="Notes" class="w-full"/>
          </div>
        </template>
        <template #footer>
          <p-button icon="pi pi-plus"  label="Save"         v-on:click="updateEpisode"  class="p-button-sm "></p-button>
          <p-button icon="pi pi-times" label="Delete"       v-on:click="deleteEpisode"  class="p-button-sm  p-button-danger"    v-if="!selectedepi.isnew"></p-button>
          <p-button icon="pi pi-plus"  label="Add Location" v-on:click="episodeAddLoc"  class="p-button-sm  p-button-secondary" v-if="!selectedepi.isnew"></p-button>
        </template>
      </p-card>

    </p-dialog>

    <!-- ------------------------------------------------------------------------------------  -->
    <!-- Location  Dialog                                                                      -->
    <!-- ------------------------------------------------------------------------------------  -->
    <p-dialog id="locdlg" header="Location" :visible.sync="locdlg" v-if="selectedlocn">
      <p-card class="ml-3 mr-3" v-if="selectedlocn">
        <template #content>
          <div class="field">
            <label for="episode">Episode</label>
            <!-- <p-inputtext id="locationNum" v-model="selectedlocn.episodeId" placeholder="Episode Id" class="w-full"/> -->
            <p-dropdown v-model="selectedlocn.episodeId" :options="epOptions" option-label="name" option-value="code" placeholder="Select an Episode" class="w-full"></p-dropdown>
          </div>
          <div class="field">
            <label for="locationNum">Location #</label>
            <p-inputtext id="locationNum" v-model="selectedlocn.locationNum" placeholder="Location Name" class="w-full"/>
          </div>
          <div class="field">
            <label for="startTime">Start Time</label>
            <!-- <p-inputtext id="startTime" v-model="selectedLoc.startTime" placeholder="Time" class="w-full"/> -->
            <p-inputmask id="startTime" v-model="selectedlocn.startTime" mask="99:99" class="w-full"></p-inputmask>
          </div>
          <div class="field">
            <label for="songName">Song</label>
            <p-inputtext id="songName" v-model="selectedlocn.song" placeholder="Song" class="w-full"/>
          </div>
          <div class="field">
            <label for="locationName">Location Name</label>
            <p-inputtext id="locationName" v-model="selectedlocn.locationName" placeholder="Location Name" class="w-full"/>
          </div>
          <div class="field">
            <label for="locationProv">Location Province/State</label>
            <p-inputtext id="locationProv" v-model="selectedlocn.locationProv" placeholder="State / Prov" class="w-full"/>
          </div>
          <div class="field">
            <label for="locationCountry">Country</label>
            <p-inputtext id="locationCountry" v-model="selectedlocn.locationCountry" placeholder="Country" class="w-full"/>
          </div>
        </template>
        <template #footer>
          <p-button icon="pi pi-plus"  label="Save"          v-on:click="updateLocation"  class="p-button-sm "></p-button>
          <p-button icon="pi pi-times" label="Delete"        v-on:click="deleteLocation"  class="p-button-sm  p-button-danger"    v-if="!selectedlocn.isnew"></p-button>
          <p-button icon="pi pi-plus"  label="Add Scripture" v-on:click="locationAddScr"  class="p-button-sm  p-button-secondary" v-if="!selectedlocn.isnew"></p-button>
        </template>
      </p-card>


    </p-dialog>

    <!-- ------------------------------------------------------------------------------------  -->
    <!-- Scripture  Dialog                                                                     -->
    <!-- ------------------------------------------------------------------------------------  -->
    <p-dialog id="scrdlg" header="Scriptures" :visible.sync="scrdlg" v-if="selectedscript">
      <p-card v-if="selectedscript">
        <template #content>
          <div class="field">
            <label for="locationId">Location</label>
            <p-dropdown v-model="selectedscript.locationId" :options="scOptions" option-label="name" option-value="code" placeholder="Select a Location" class="w-full"></p-dropdown>
          </div>
          <div class="field">
            <label for="scriptureNum">Scripture Number (sequence)</label>
            <p-inputtext id="scriptureNum" v-model="selectedscript.scriptureNum" placeholder="Scripture Number" class="w-full"/>
          </div>
          <div class="field">
            <label for="book">Book</label>
            <!-- <p-inputtext id="book" v-model="selectedscript.book" placeholder="Book" class="w-full"/> -->
            <p-dropdown v-model="selectedscript.book" :options="books" option-label="name" option-value="name" placeholder="Select a book" class="w-full"></p-dropdown>            
          </div>
          <div class="field">
            <label for="chapter">Chapter</label>
            <p-inputtext id="chapter" v-model="selectedscript.chapter" placeholder="Chapter" class="w-full"/>
          </div>
          <div class="field">
            <label for="verse">Verse</label>
            <p-inputtext id="verse" v-model="selectedscript.verse" placeholder="Verse" class="w-full"/>
          </div>
          <div class="field">
            <label for="translation">Translation</label>
            <p-inputtext id="translation" v-model="selectedscript.translation" placeholder="Translation" class="w-full"/>
          </div>
          <div class="field">
            <label for="text">Text</label>
            <p-inputtext id="text" v-model="selectedscript.text" placeholder="Text" class="w-full"/>
          </div>
        </template>
        <template #footer>
          <p-button icon="pi pi-plus"  label="Save"   v-on:click="updateScripture"  class="p-button-sm "></p-button>
          <p-button icon="pi pi-times" label="Delete" v-on:click="deleteScripture"  class="p-button-sm  p-button-danger" v-if="!selectedscript.isnew"></p-button>
        </template>

      </p-card>

    </p-dialog>

    <p-dialog id="dlg" header="Episode" :visible.sync="dlgEpisode" v-if="selectedRow">

      <div class="formgroup-inline">

        <!-- ------------------------------------------------------------------------------------  -->
        <!-- Episode                                                                               -->
        <!-- ------------------------------------------------------------------------------------  -->
        <p-card >
          <template #title>
            Episode
          </template>
          <template #content>
            <div class="field">
              <label for="season">Season</label>
              <!-- <p-inputtext id="season" v-model="selectedEp.season" placeholder="Season" class="w-full"/> -->
              <p-inputnumber id="episode" v-model="selectedEp.season" placeholder="Season" class="w-full"/>
            </div>
            <div class="field">
              <label for="episode">Episode</label>
              <!-- <p-inputtext id="episode" v-model="selectedEp.episode" placeholder="Season" class="w-full"/> -->
              <p-inputnumber id="episode" v-model="selectedEp.episode" placeholder="Episode" class="w-full"/>
            </div>
          </template>
          <template #footer>
            <p-button icon="pi pi-plus" label="Add Location" v-on:click="addLocation" class="p-button-sm p-button-outlined"></p-button>
            <p-button icon="pi pi-save" label="Save As New"  v-on:click="saveDoc"     class="p-button-sm p-button-outlined p-button-danger"></p-button>
          </template>
        </p-card>

        <!-- ------------------------------------------------------------------------------------  -->
        <!-- Location                                                                              -->
        <!-- ------------------------------------------------------------------------------------  -->
        <p-card class="ml-3 mr-3" v-if="selectedLoc">
          <template #title>
            Location
          </template>
          <template #content>
            <div class="field">
              <label for="locationNum">Location #</label>
              <p-inputtext id="locationNum" v-model="selectedLoc.locationNum" placeholder="Location Name" class="w-full"/>
            </div>
            <div class="field">
              <label for="locationName">Location Name</label>
              <p-inputtext id="locationName" v-model="selectedLoc.locationName" placeholder="Location Name" class="w-full"/>
            </div>
            <div class="field">
              <label for="locationProv">Location Province/State</label>
              <p-inputtext id="locationProv" v-model="selectedLoc.locationProv" placeholder="State / Prov" class="w-full"/>
            </div>
            <div class="field">
              <label for="locationCountry">Country</label>
              <p-inputtext id="locationCountry" v-model="selectedLoc.locationCountry" placeholder="Country" class="w-full"/>
            </div>
            <div class="field">
              <label for="songName">Song</label>
              <p-inputtext id="songName" v-model="selectedLoc.songName" placeholder="Song" class="w-full"/>
            </div>
            <div class="field">
              <label for="startTime">Start Time</label>
              <!-- <p-inputtext id="startTime" v-model="selectedLoc.startTime" placeholder="Time" class="w-full"/> -->
              <p-inputmask id="startTime" v-model="selectedLoc.startTime" mask="99:99" class="w-full"></p-inputmask>
            </div>
          </template>
          <template #footer>
            <p-button icon="pi pi-plus" label="Add Scripture" v-on:click="addScripture" class="p-button-sm p-button-outlined"></p-button>
          </template>
        </p-card>

        <!-- ------------------------------------------------------------------------------------  -->
        <!-- Scripture                                                                             -->
        <!-- ------------------------------------------------------------------------------------  -->
        <p-card v-if="selectedScr">
          <template #title> 
            Scripture
          </template>
          <template #content>
            <div class="field">
              <label for="scriptureNum">Scripture #</label>
              <p-inputtext id="scriptureNum" v-model="selectedScr.scriptureNum" placeholder="Season" class="w-full"/>
            </div>
            <div class="field">
              <label for="book">Book</label>
              <p-inputtext id="book" v-model="selectedScr.book" placeholder="Book" class="w-full"/>
            </div>
            <div class="field">
              <label for="chapter">Chapter</label>
              <p-inputtext id="chapter" v-model="selectedScr.chapter" placeholder="Chapter" class="w-full"/>
            </div>
            <div class="field">
              <label for="verse">Verse</label>
              <p-inputtext id="verse" v-model="selectedScr.verse" placeholder="Verse" class="w-full"/>
            </div>
            <div class="field">
              <label for="translation">Translation</label>
              <p-inputtext id="translation" v-model="selectedScr.translation" placeholder="Translation" class="w-full"/>
            </div>
            <div class="field">
              <label for="text">Text</label>
              <p-inputtext id="text" v-model="selectedScr.text" placeholder="Text" class="w-full"/>
            </div>
          </template>
        </p-card>

      </div>
      
      <template #footer>
        <p-button icon="pi pi-save" label="Save" v-on:click="updateDoc" class="p-button-sm p-button-outlined p-button-danger"></p-button>
      </template>

    </p-dialog>

  </div>

  <script src="js/primevue/dropdown.umd.min.js"></script>
  <script src="js/primevue/selectbutton.umd.min.js"></script>
  <script src="js/primevue/card.umd.min.js"></script>
  <script src="js/primevue/inputnumber.umd.min.js"></script>
  <script src="js/primevue/dialog.umd.min.js"></script>
  <script src="js/primevue/inputtext.umd.min.js"></script>
  <script src="js/primevue/inputmask.umd.min.js"></script>
  <script src="js/primevue/datatable.umd.min.js"></script>
  <script src="js/primevue/column.umd.min.js"></script>
  <script src="js/primevue/button.umd.min.js"></script>
  <script src="js/primevue/panel.umd.min.js"></script>

  <script src="js/app/episodesTable.js"></script>
  <script src="js/app/reflections.js"></script>

  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>

  <style type="text/css">
    #dlg .p-card {
      opacity: 65%;
    }
    #dlg .p-card:focus-within{
      background-color: #f4f4f5;
      opacity: 100%;
    }
    #selbut .p-button {
      padding: 5.5px 10px;
    }
  </style>
</body>
</html>